<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Orders Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    @using ToDoList.Models;

    <h1>To Do List</h1>
    @if (Model.Orders == 0)
    {
    <p>There are no records in the list.</p>
    }
    <ul>
    @foreach (Order order in Model.Orders)
    {
      <li><a href='/vendors/@Model.Id/orders/@order.Id'>@order.Title</a> -
      <span> - @order.OrderDescription<span></li>
    }

    
    </ul>
    <a href="/vendors/@Model.Id/orders/new">Add a new order.</a>

    <a href='/vendors'>View all vendors</a>
  </body>
</html>